.root {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--space-3);
    width: 100%;
}

.search,
.filter {
    width: 100%;
}

.searchButton {
    margin-inline: calc(var(--space-2) * -1);
}

@media (min-width: 768px) {
    .root {
        justify-content: flex-end;
        width: auto;
    }

    .search {
        flex: 1;
        width: auto;
        min-width: 12.5rem;
        max-width: 16rem;
    }

    .filter {
        width: auto;
        min-width: 9rem;
    }
}
